# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ

.idea/

*.iml


# Gradle

.gradle/

build/


# Logs

logs/

*.log


# Mac/Linux

.DS_Store


# Spark

spark-warehouse/


# Hive

metastore_db/


# Generated Data

data/dev/bronze/

data/dev/silver/

data/dev/gold/

data/test
